<div class="eventphotos">
<h2 style="text-align: center; margin-top: 10px;">Event Photos</h2>
<h4 style="text-align: center; font-family: italic;">“Simplicity is the ultimate sophistication.” </h4>
<div class="row">
  <div class="column">
    
    <img src="../assets/images/birthdaydecor.jpg">
    <img src="../assets/images/foodparty.jpg">
    <img src="../assets/images/fooddecor.jpg">
    <img src="../assets/images/foodtabledecor.jpg">
    <img src="../assets/images/haldicelebrate.jpg">
    
  </div>
  <div class="column">
    <img src="../assets/images/holi.jpg">
    <img src="../assets/images/bride.jpg">
    <img src="../assets/images/christmasparty.jpg">
    <img src="../assets/images/concert.jpg">
    <img src="../assets/images/danceparty.jpg">
    
  </div>
  <div class="column">
    <img src="../assets/images/officeevent.jpg">
    <img src="../assets/images/racingevent.jpg">
    <img src="../assets/images/theme wedding.jpg">
    <img src="../assets/images/weddingdecor.jpg">
    <img src="../assets/images/tabledecor.jpg">
    
  </div>
  <div class="column">
    <img src="../assets/images/djconcert.jpg">
    <img src="../assets/images/concertparty.jpg">
    <img src="../assets/images/front quote.jpg">
    <img src="../assets/images/holiparty.jpg">
    <img src="../assets/images/eventcelebration.jpg">
    <img src="../assets/images/musicalperformance.jpg">
    
  </div>
</div>
</div>