<section class="container">
    <h3 style="text-align: center;">Services</h3>
    <section class="card__container">
        
      <div class="card__bx" style="--clr: #89ec5b">
        <div class="card__data">
          <div class="card__icon">
            <i class="fa-solid fa-paintbrush"></i>
          </div>
          <div class="card__content">
            <h3>Corporate Events</h3>
            <p> Meetings & Conference Planning | Exhibition Support Services | Incentive Tours | Dealers Meets | Product Launch | Gala Dinner | Award Night | Event Branding | Inagurations |  etc. ...</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="card__bx" style="--clr: #eb5ae5">
        <div class="card__data">
          <div class="card__icon">
            <i class="fa-solid fa-code"></i>
          </div>
          <div class="card__content">
            <h3>Theme Planning & Decor</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="card__bx" style="--clr: #5b98eb">
        <div class="card__data">
          <div class="card__icon">
            <i class="fa-brands fa-searchengin"></i>
          </div>
          <div class="card__content">
            <h3>Corporate Hospitality</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
  
    </section>
  
  </section>
